.light {
    height: 30px;
    padding: 10px 0 0 17px;
  }

  
  .time---light {
    width: 54px;
    height: 21px;
  }

  time {
    width: 54px;
    height: 14px;
    font-family: SFProText;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #000000;
  }

  .cellular-connection {
    width: 17px;
    height: 10.7px;
    margin: 0 0 0 219px;
    background-color: var(--black);
  }

  .wifi {
    width: 15.3px;
    height: 11px;
    margin: 0 0 0 15px;
    background-color: var(--black);
  }

  .capacity {
    width: 18px;
    height: 7.3px;
    border-radius: 1.3px;
    margin: 0 0 0 15px;
    background-color: var(--black);
  }

  .line {
    width: 375px;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  .rectangle {
    height: 30px;
    padding: 10px 0 0 17px;
    display:flex;
  }

  .rectangle-copy-1 {
    width: 16px;
    height: 16px;
    background-color: var(--black);
    font-size: 20px;
  }

  .clientelalog {
    width: 158.1px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    margin: 0 44.5px 0 73.3px;
    font-family: Gotham HTF Book;
  }

  .en {
    width: 20px;
    height: 13px;
    margin: 4px 6px 0 0;
    font-family: Gotham HTF Book;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--black);
  }

  .rectangle-copy-2 {
    width: 7px;
    height: 13px;
    font-size: 20px;
    margin: 1px 0 0 0;
    background-color: var(--black);
  }

  .rectangle-grey {
    height: auto;
    /* margin: 46px 0 23px; */
    padding: 30px 22px 40px 22px;
    border-radius: 4px;
    background-color: #f0f0f0;
  }


  .welcome-div{
    width: 100%;
    text-align: center;
  }

  .welcome {
    font-family: Gotham HTF Book;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.95px;
    color: #393939;
  }

  .please-select-one-of {
    font-family: Gotham HTF Book;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #393939;
  }

  .disabled{
    opacity: 0.50;
  }

  .btn-category {
    height:40px;
    margin-top:18px;
    padding: 16px 89px 0 19px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    background-color: #ffffff;
    text-align: center;
  }

  .category-small-div{
    height:70px; 
  }

  .btn-category-small {
    width:130px;
    height:40px;
    margin:18px 5px 0 5px;
    padding: 16px 0 0 25px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    background-color: #ffffff;
    text-align: left;
    float: left;
  }

  .btn-category-double-text {
    height:40px;
    margin-top:18px;
    padding: 8px 89px 6px 19px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    background-color: #ffffff;
    text-align: center;
  }

  .btn-category-icon {
    width: 29px;
    font-size: 16px;
    margin: 2px 42px 0 0;
    float:left;
  }

  .btn-category-icon-small {
    width: 29px;
    font-size: 16px;
    margin: 2px 22px 0 0;
    float:left;
  }

  .btn-category-icon-double-text {
    width: 29px;
    font-size: 16px;
    margin: 8px 42px 0 0;
    float:left;
  }
  
  .btn-category-text{
    font-weight: bold;
    font-family: Gotham HTF Book;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

  .btn-category-text-helper{
    text-align: center;
    margin:0 0 0 71px;
    font-weight: bold;
    font-family: Gotham HTF Book;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

  .radios {
    height: 240px;
    /* margin: 46px 0 23px; */
    padding: 30px 22px 0px 22px;
    border-radius: 4px;
  }

  .radios-div{
    text-align: center;
  }

  .please-select-location {
    font-family: Gotham HTF Book;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #393939;
  }

  .btn-radio {
    min-height:40px;
    height:auto;
    margin-top:18px;
    padding: 16px 0 0 19px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(181, 181, 181, 0.5);
    /* border: solid 1px #919191; */
    background-color: #fbfbfb;
    text-align: left;
  }

  .btn-radio-icon {
    width: 29px;
    height: 30px;
    margin: -4px 42px 0 0;
    float:left;
  }

  .btn-radio-text{
    font-weight: bold;
    font-family: Gotham HTF Book;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

  .clicked {
    background-color: black;
    color: white;
  }

  .clicked-text span {
    color: white;
  }

  .btn {
    height:40px;
    width:100%;
    margin-top:18px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(181, 181, 181, 0.5);
    /* border: solid 1px #919191; */
    background-color: black;
    color:white;
    text-align: center;
    font-family: Gotham HTF Book;
    font-weight: bold;
    margin-bottom:20px;
  }

  .comment-text-title {
    max-width: 299px;
    margin: 17px 0 0;
    font-family: Gotham HTF Book;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: black;
  }

  img{
    width:292px; 
    margin:0 0 10px 0;
  }

  