<section class="light">
  <div>
    <time class="time---light">11:41</time>
    <i class="fas fa-signal cellular-connection"></i>
    <i class="fas fa-wifi wifi"></i>
    <i class="fas fa-battery-full capacity"></i>
  </div>
</section>
<div class="line"></div>

<section class="rectangle">
  <div class="rectangle-copy-1"> <i class="fa fa-bars "></i></div>
  <strong class="clientelalog">CLIENTELA</strong>
  <div class="en">EN</div>
  <i class="fa fa-angle-down rectangle-copy-2"></i>
</section>
<div class="line"></div>


<section class="rectangle-grey">
  <div class="welcome-div">
    <label class="welcome">Welcome</label>
  </div>
  <div class="welcome-div"><br>
    <label class="please-select-one-of">Please select one of our services</label>
  </div>

  <div class="btn-category" (click)="categoryClick(1, 'Personal shopping')"
    [ngClass]="category === 1 ? 'clicked clicked-text' : ''">
    <i class="fas fa-shoe-prints btn-category-icon"></i>
    <span class="btn-category-text">Personal shopping</span>
  </div>

  <div class="category-small-div" *ngIf="category === 1">
    <div class="btn-category-small" (click)="subCategoryClick(1, 'In-Store')"
      [ngClass]="subcategory === 1 && selectedSubCategory === 'In-Store'  ? 'clicked clicked-text' : ''">
      <i class="fas fa-store btn-category-icon-small"></i>
      <span class="btn-category-text">In-Store</span>
    </div>

    <div class="btn-category-small" (click)="subCategoryClick(1, 'Video')"
      [ngClass]="subcategory === 1 && selectedSubCategory === 'Video'  ? 'clicked clicked-text' : ''">
      <i class="fas fa-video btn-category-icon-small"></i>
      <span class="btn-category-text">Video</span>
    </div>
  </div>


  <div class="btn-category" (click)="categoryClick(2, 'Skin care services')"
    [ngClass]="category === 2 ? 'clicked clicked-text' : ''">
    <i class="fab fa-accusoft btn-category-icon"></i>
    <span class="btn-category-text">Skin care services</span>
  </div>


  <div class="category-small-div" *ngIf="category === 2">
    <div class="btn-category-small" (click)="subCategoryClick(2, 'In-Store')"
      [ngClass]="subcategory === 2 && selectedSubCategory === 'In-Store' ? 'clicked clicked-text' : ''">
      <i class="fas fa-store btn-category-icon-small"></i>
      <span class="btn-category-text">In-Store</span>
    </div>

    <div class="btn-category-small" (click)="subCategoryClick(2, 'Video')"
      [ngClass]="subcategory === 2 && selectedSubCategory === 'Video' ? 'clicked clicked-text' : ''">
      <i class="fas fa-video btn-category-icon-small"></i>
      <span class="btn-category-text">Video</span>
    </div>
  </div>


  <div class="btn-category-double-text border disabled">
    <i class="fas fa-map-marker-alt btn-category-icon-double-text"></i>
    <span class="btn-category-text">Store locator</span><br>
    <h4 class="btn-category-text-helper">(coming soon)</h4>
  </div>
</section>

<section class="radios">
  <div class="radios-div">
    <label class="please-select-location">Please select your preffered location</label>
  </div>

  <div class="btn-radio" *ngFor="let item of locationTitles">
    <div *ngIf="!item.value">
      <input type="radio" class="btn-radio-icon">
      <span class="btn-radio-text">{{item.title}}</span>
    </div>
    <div *ngIf="item.value" >
      <input type="radio" class="btn-radio-icon">
      <span class="btn-radio-text">{{item.title}}</span><br>
      <div class="comment-text-title" >Address </div>
      <div class="comment-text" >640 5th Ave, New York, NY 10019, USA</div>
      <div class="comment-text-title" >Opening hours </div>
      <div class="comment-text" >
        Monday-Saturday:09:30-21:00 <br> 
        Sunday: 11:00-18:30
      </div>
      <img src="../../assets/images/map.JPG">
    </div>

  </div>
  <button class="btn" (click)="confirm()" [disabled]="(category === 0  || subcategory === 0)"
  [ngClass]="(category === 0  || subcategory === 0)  ? 'disabled' : ''">Confirm</button>

</section>